<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<th th:fragment="header(title)"
		class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs
leading-4 font-medium text-gray-500 uppercase tracking-wider"
		th:text="${title}">Header title</th>
		
	<th th:fragment="headerLink(title, sortField, sortDir)"
		class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs
leading-4 font-medium text-gray-500 uppercase tracking-wider">
		<a th:href="@{/admin/page/1(sortField=${sortField},sortDir=${sortDir})}" th:text="${title}">Header title</a>
		</th>

</body>
</html>